---
layout: layout.liquid
title: Home
---

<div class="container my-5" x-data="{ randomName: '' }">
  <button class="btn btn-primary" @click="randomName = getRandomName()">
    Get Random Name
  </button>
   <h1 class="display-4 mb-4" x-text="randomName"></h1>
</div>

<script>
  function getRandomName() {
    const names = ['John', 'Jane', 'Bob', 'Alice', 'Tom', 'Emily', 'David', 'Sarah', 'Michael', 'Jessica'];
    return names[Math.floor(Math.random() * names.length)];
  }
</script>